body{
  margin: 0;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
}

li:hover {
  background-color: hsl(209, 100%, 49%);
  color: white;
}